<!DOCTYPE html>
<html lang="en">
        <head>
        </head>
<header>
        <% include partials/_header %> 
</header>
<body>
        <h1>Resources</h1>
        <div id="filter_bar">
        <div class="col-md-10">
                <div class="newResourceButton">
                    <button id="newResource" class="btn btn-default my_toggle" type="button">New Resource</button>
                </div>
                        <div class="input-group">
                        <input id="search-bar" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default my_toggle" type="button">Search</button>
                        </span>
                        </div>
                </div>
                <div class="col-md-2">
                <div class="filter_dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter by... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">Hockey</a></li>
                                <li><a href="#">Birds</a></li>
                        </ul>
                </div>
                </div>
        </div>
      </div>
    </div>
    <br /><br /><br />


    <div id="resourse_archive">
      <% for (let resource in allResources){%>
        <% let avgRating = resource.totalRating/resource.countRating %>
      <h2 id="resourse_name" class="resourse_name">
        <a href=<%= allResources[resource].url %>> <%= allResources[resource].title %> </a>
      </h2>
      <div id="username">Submitted by: <%= allResources[resource].user_id%></div>
      <div id="intrest">Category: <%= allResources[resource].intrest_id %></div>
      <div id="description">Description: <%= allResources[resource].description %></div>
      <div id="like">Likes: <%= allResources[resource].totalLikes %></div>
      <div id="avgRating"> Rating: <% resource.totalRating/resource.countRating %>
      </div>
    </div>
 
    <div id="comment_dropdown">
      <div id="new_comment">
        Comment:
        <div class="new_comment">
          <label for="new_comment"></label>
          <textarea
            class="form-control z-depth-1"
            id="new_comment"
            rows="2"
            placeholder="Comment on this resource..."
          ></textarea>
        </div>
      </div>
      <div id="previous_comments"></div>
      <%for(let comment of allResources[resource].comments){%>
        ---------------------------------------------
        <p>User @ <%= comment.username%></p>
        <p><%= comment.text%></p>
        <p>
              Posted on :  <%= comment.updated_at%>
        </p>
       ----------------------------------------------
      <%}%>
    </div>
<hr>
    <%}%>
  </body>
</html>