<!DOCTYPE html>
<html lang="en">
        <head>

        </head>
<header>
        <% include partials/_header %> 
        <script src="/scripts/app.js"></script>
</header>
<body>
        <h1>Resources</h1>
        <div id="filter_bar">
        <div class="col-md-10">
                        <div class="input-group">
                        <input id="search-bar" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default my_toggle" type="button">Search</button>
                        </span>
                        </div>
                </div>
                <div class="col-md-2">
                <div class="filter_dropdown">
                                <select>
                                        <option>--Resource Category--</option>
                                        <option value="id: 1">Sports</option>
                                        <option value="id: 2">Web Development</option>
                                        <option value="id: 3">Food</option>
                                        <option value="id: 4">Reading</option>
                                        <option value="id: 5" selected>Travelling</option>
                                        <option value="id: 6" selected>Fishing</option>
                                        <option value="id: 7" selected>Crafts</option>
                                        <option value="id: 8" selected>Movies</option>
                                        <option value="id: 9" selected>Music</option>
                                        <option value="id: 10" selected>Gardening</option>
                                        <option value="id: 11" selected>Games</option>
                                        <option value="id: 12" selected>Hunting</option>
                                        <option value="id: 13" selected>Restaurants</option>
                                        <option value="id: 14" selected>Cars</option>
                                        </select>
                                        
                </div>
        </div>
      </div>
    </div>
    <br /><br /><br />

    <%for(let resource in allResources){%>
    <div class="resourse_archive">
        <% let avgRating = resource.totalRating/resource.countRating %>
        <div class="submitted_by">Submitted by: <%= allResources[resource].user_id%></div>
      <h2 id="resourse_name" class="resourse_name"> 
        <a href=<%= allResources[resource].url %>> <%= allResources[resource].title %> </a></h2>
        <p id="description">Description: <%= allResources[resource].description %></p>
      <ul id="intrest">Category: <%= allResources[resource].intrest_id %></ul>
      <ul id="like">Likes: <%= allResources[resource].totalLikes %></ul>
      <ul id="avgRating"> Rating: <%= allResources[resource].avgRating() || 0 %></ul>
      <% if (user_id) { %>
      <button class="comment_toggle">Give feedback on this resource</button>
      <% } %>
    </div>
    <div hidden class="comment_dropdown">
        <a href=#>Like</a> <div class="col-md-2">
                <div class="resource_rating">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Rating<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                        </ul>
                </div>
        </div>

        <form method="POST" action="/api/users/<%= user_id%>/resourses/<%= allResources[resource].resourse_id%>/comment" class="comment_box">
        Comment on this resource:

          <label for="new_comment"></label>
          <textarea
            class="form-control z-depth-1" 
            id="new_comment"
            rows="2"
            name='text'></textarea>
            <input type="submit" value="Submit">

            </form>
            <hr>
      <div id="previous_comments"></div> <h3>Comments: </h3>
      <%for(let comment of allResources[resource].comments){%>
        <p><%= comment.username%> @ <%= comment.updated_at%>: 
        <ul><%= comment.text%></ul>
        <%}%>
</div>
<hr>
        <%}%>

</body>
</html>