<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <header>
    <% include partials/_header %> 
    <link rel="stylesheet" href="/styles/css/nav.css">
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/scripts/app.js"></script>
  </header>
    <body>

<div id="user_page" >
  <h1><%= currentUser %>'s Resource Page</h1>
  <a href="<%= user_id %>/profile">Edit profile</a>
</div>

<form id="new_resourse" method="POST" action="<%= user_id%>/resourse">
        <h2>Add a New Resource to the Library</h2>
      <div id="new_resourse_name" class="resourse_name">
        Resource Name:
          <textarea
            class="form-control z-depth-1"
            id="resourse_name
            rows="1"
            placeholder="Name"
            name="title"></textarea>
        </div>
      <div id="new_resourse_url">
        Resource URL:
          <textarea
            class="form-control z-depth-1"
            id="resourse_url"
            rows="1"
            placeholder="URL"
            name="url"></textarea>
        </div><br>
        <div class="interest_id_select">
            <select class="interest_id" name="intrest_id">
                <option selected>--Resource Category--</option>
                <option value="1">Sports</option>
                <option value="2">Web Development</option>
                <option value="3">Food</option>
                <option value="4">Reading</option>
                <option value="5">Travelling</option>
                <option value="6">Fishing</option>
                <option value="7">Crafts</option>
                <option value="8">Movies</option>
                <option value="9">Music</option>
                <option value="10">Gardening</option>
                <option value="11">Games</option>
                <option value="12">Hunting</option>
                <option value="13">Restaurants</option>
                <option value="14">Cars</option>
            </select>
        </div>
      <div id="new_resourse_description">
        Description:
          <textarea
            class="form-control z-depth-1"
            id="Interest1"
            rows="2"
            placeholder="A bit about your resource..."
            name="description"></textarea></div>
      </div>
          <button class="submit" value="Submit">Submit</button>
        </div>  
        </form>
    </form>

    <br />

    <div id="my_resourse_archive">
        <h2 id=myResourcesHeader>My Resources</h2>
          <%for(let resource in allResources){%>
            <div class="resourse_archive">
              <% let avgRating = resource.totalRating/resource.countRating %>
                <div class="submitted_by">Submitted by:
                  <%= allResources[resource].created_at %>
                </div>
                <h2 id="resourse_name" class="resourse_name">
                  <a href=<%= allResources[resource].url %>>
                    <%= allResources[resource].title %>
                  </a>
                </h2>
                <p id="description">Description:
                  <%= allResources[resource].description %>
                </p>
                <ul id="intrest">Category:
                  <%= allResources[resource].intrest_id %>
                </ul>
                <ul id="like">Likes:
                  <%= allResources[resource].totalLikes %>
                </ul>
                <ul id="avgRating"> Rating:
                  <%= allResources[resource].avgRating() || 0 %>
                </ul>
            <% if (user_id) { %>
              <button class="comment_toggle">Leave Feedback</button>
              <% } %>
            </div>


            <div hidden class="comment_dropdown">
                <a href=#>Like</a> <div class="col-md-2">
                        <div class="resource_rating">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Rating<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                </ul>
                        </div>
            </div>
        
                <form method="POST" action="/api/users/<%= user_id%>/resourses/<%= allResources[resource].resourse_id%>/comment" class="comment_box">
                Comment on this resource:
                  <label for="new_comment"></label>
                  <textarea
                    class="form-control z-depth-1" 
                    id="new_comment"
                    rows="2"></textarea>
                    <input type="submit" value="Submit">
                    </form>
                    <hr>
              <div id="previous_comments"></div> <h3>Comments: </h3>
              <!-- <% console.log('ejs') %> -->
              <%for(let comment of allResources[resource].comments){%>
                <p><%= comment.username%> @ <%= comment.updated_at%>: 
                <ul><%= comment.text%></ul>
              <%}%>
            </div>
        <hr>
            <%}%>
          </body>
        </html>